In [5]:
#Import all the necessary packages that I will use for this project

import numpy as np
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
import json
import requests
from geopy.geocoders import Nominatim
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans

In [6]:
from bs4 import BeautifulSoup

In [7]:
# GET request to scrape data from wikipedia
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [8]:
# create the empty lists to store info from wikipedia
postalcodes = []
boroughs = []
neighborhoods = []

In [9]:
# Create beautifulsoup object to parse HTML data
soup = BeautifulSoup(data, 'html.parser')

In [10]:
# ask Soup to find the table
soup.find('table').find_all('tr')

# for each row of the table, find all the table data
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')

In [11]:
# add the data in the table to our empty lists
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalcodes.append(cells[0].text.rstrip('\n'))
        boroughs.append(cells[1].text.rstrip('\n'))
        neighborhoods.append(cells[2].text.rstrip('\n'))

In [12]:
# create a new DataFrame from the three lists
TorontoDF = pd.DataFrame({"PostalCode": postalcodes,
                           "Borough": boroughs,
                           "Neighborhood": neighborhoods})

TorontoDF.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [13]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
# In order to satisfy the above requirement, I will use the drop command from pandas to drop any value with a borough that is not assigned

TorontoDF = TorontoDF[TorontoDF.Borough != "Not assigned"].reset_index(drop=True)
TorontoDF.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [14]:
# For any neighborhood that has the value 'Not assigned' replace that value with the Borough instead
for index, row in TorontoDF.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        
TorontoDF.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [15]:
#Get coordinate data of postal codes
latlong = pd.read_csv("http://cocl.us/Geospatial_data")
latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [16]:
# Change name of column to match Toronto_df
latlong.rename(columns={"Postal Code": "PostalCode"}, inplace=True)
latlong.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [17]:
# merge two table on the column "PostalCode"
TorontoDF = TorontoDF.merge(latlong, on="PostalCode", how="left")
TorontoDF.head(12)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724

In [18]:
# Load my foursquare credentials to use the API

CLIENT_ID = '31OIH0QK2KJZDWMLAEUPETODOP05CK1Q22050KU3OXPU0QXT'
CLIENT_SECRET = 'CXTSYGJMIBJIKREJZ40Y00SFCISR3R0DWG20CHQGEECBLQFM'
VERSION = '20180605'

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 31OIH0QK2KJZDWMLAEUPETODOP05CK1Q22050KU3OXPU0QXT
CLIENT_SECRET:CXTSYGJMIBJIKREJZ40Y00SFCISR3R0DWG20CHQGEECBLQFM

In [19]:
#create a list of venues within 500 meters of each neighborhood, max of 100 venues

def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            500, 
            100)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venues in venues for item in venues])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [20]:
# Get venues into a dataframe

venuesDF = getNearbyVenues(names=TorontoDF['Neighborhood'],
                                   latitudes=TorontoDF['Latitude'],
                                   longitudes=TorontoDF['Longitude']
                                  )

Parkwoods
Victoria Village
Regent Park, Harbourfront
Lawrence Manor, Lawrence Heights
Queen's Park, Ontario Provincial Government
Islington Avenue, Humber Valley Village
Malvern, Rouge
Don Mills
Parkview Hill, Woodbine Gardens
Garden District, Ryerson
Glencairn
West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale
Rouge Hill, Port Union, Highland Creek
Don Mills
Woodbine Heights
St. James Town
Humewood-Cedarvale
Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood
Guildwood, Morningside, West Hill
The Beaches
Berczy Park
Caledonia-Fairbanks
Woburn
Leaside
Central Bay Street
Christie
Cedarbrae
Hillcrest Village
Bathurst Manor, Wilson Heights, Downsview North
Thorncliffe Park
Richmond, Adelaide, King
Dufferin, Dovercourt Village
Scarborough Village
Fairview, Henry Farm, Oriole
Northwood Park, York University
East Toronto, Broadview North (Old East York)
Harbourfront East, Union Station, Toronto Islands
Little Portugal, Trinity
Kennedy Park, Ionview, East Birchmount Park
Bayview Village
Downsview
The Danforth West, Riverdale
Toronto Dominion Centre, Design Exchange
Brockton, Parkdale Village, Exhibition Place
Golden Mile, Clairlea, Oakridge
York Mills, Silver Hills
Downsview
India Bazaar, The Beaches West
Commerce Court, Victoria Hotel
North Park, Maple Leaf Park, Upwood Park
Humber Summit
Cliffside, Cliffcrest, Scarborough Village West
Willowdale, Newtonbrook
Downsview
Studio District
Bedford Park, Lawrence Manor East
Del Ray, Mount Dennis, Keelsdale and Silverthorn
Humberlea, Emery
Birch Cliff, Cliffside West
Willowdale, Willowdale East
Downsview
Lawrence Park
Roselawn
Runnymede, The Junction North
Weston
Dorset Park, Wexford Heights, Scarborough Town Centre
York Mills West
Davisville North
Forest Hill North & West, Forest Hill Road Park
High Park, The Junction South
Westmount
Wexford, Maryvale
Willowdale, Willowdale West
North Toronto West,  Lawrence Park
The Annex, North Midtown, Yorkville
Parkdale, Roncesvalles
Canada Post Gateway Processing Centre
Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens
Agincourt
Davisville
University of Toronto, Harbord
Runnymede, Swansea
Clarks Corners, Tam O'Shanter, Sullivan
Moore Park, Summerhill East
Kensington Market, Chinatown, Grange Park
Milliken, Agincourt North, Steeles East, L'Amoreaux East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
New Toronto, Mimico South, Humber Bay Shores
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens
Steeles West, L'Amoreaux West
Rosedale
Stn A PO Boxes
Alderwood, Long Branch
Northwest, West Humber - Clairville
Upper Rouge
St. James Town, Cabbagetown
First Canadian Place, Underground city
The Kingsway, Montgomery Road, Old Mill North
Church and Wellesley
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto
Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East
Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West

In [21]:
# take a look
venuesDF.head(10)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Parkwoods,43.753259,-79.329656,Brookbanks Park,43.751976,-79.332140,Park
1,Parkwoods,43.753259,-79.329656,Brookbanks Pool,43.751389,-79.332184,Pool
2,Parkwoods,43.753259,-79.329656,Variety Store,43.751974,-79.333114,Food & Drink Shop
3,Victoria Village,43.725882,-79.315572,Victoria Village Arena,43.723481,-79.315635,Hockey Arena
4,Victoria Village,43.725882,-79.315572,Tim Hortons,43.725517,-79.313103,Coffee Shop
5,Victoria Village,43.725882,-79.315572,Portugril,43.725819,-79.312785,Portuguese Restaurant
6,Victoria Village,43.725882,-79.315572,Eglinton Ave E & Sloane Ave/Bermondsey Rd,43.726086,-79.313620,Intersection
7,Victoria Village,43.725882,-79.315572,Pizza Nova,43.725824,-79.312860,Pizza Place
8,"Regent Park, Harbourfront",43.654260,-79.360636,Roselle Desserts,43.653447,-79.362017,Bakery
9,"Regent Park, Harbourfront",43.654260,-79.360636,Tandem Coffee,43.653559,-79.361809,Coffee Shop

In [22]:
#check total number of venues in each neighborhood
Total = venuesDF["Neighborhood"].value_counts().to_frame()

In [23]:
Total.head()

                                                   Neighborhood
First Canadian Place, Underground city                      100
Commerce Court, Victoria Hotel                              100
Richmond, Adelaide, King                                    100
Garden District, Ryerson                                    100
Harbourfront East, Union Station, Toronto Islands           100

In [24]:
#Clean up the Total dataframe with accurate column titles
Total = Total.reset_index()

In [26]:
Total = Total.rename(columns={"Neighborhood":"Total"})
Total.head()

                                               index  Total
0             First Canadian Place, Underground city    100
1                     Commerce Court, Victoria Hotel    100
2                           Richmond, Adelaide, King    100
3                           Garden District, Ryerson    100
4  Harbourfront East, Union Station, Toronto Islands    100

In [27]:
Total = Total.rename(columns={"index":"Neighborhood"})
Total.head()

                                        Neighborhood  Total
0             First Canadian Place, Underground city    100
1                     Commerce Court, Victoria Hotel    100
2                           Richmond, Adelaide, King    100
3                           Garden District, Ryerson    100
4  Harbourfront East, Union Station, Toronto Islands    100

In [28]:
#Drop unnecessary data from the venuesDF dataframe
venuesDF = venuesDF.drop(['Neighborhood Latitude','Neighborhood Longitude','Venue','Venue Latitude', 'Venue Longitude'], axis=1)

In [29]:
#Take a look to make sure we're all good!
venuesDF.head(10)

                Neighborhood         Venue Category
0                  Parkwoods                   Park
1                  Parkwoods                   Pool
2                  Parkwoods      Food & Drink Shop
3           Victoria Village           Hockey Arena
4           Victoria Village            Coffee Shop
5           Victoria Village  Portuguese Restaurant
6           Victoria Village           Intersection
7           Victoria Village            Pizza Place
8  Regent Park, Harbourfront                 Bakery
9  Regent Park, Harbourfront            Coffee Shop

In [30]:
#Find the different unique venue types, and their total number of appearances in the data
venuesDF["Venue Category"].value_counts()

Coffee Shop                        190
Caf√©                                99
Restaurant                          62
Park                                49
Pizza Place                         48
Sandwich Place                      44
Hotel                               43
Italian Restaurant                  41
Japanese Restaurant                 40
Bakery                              37
Bar                                 36
Gym                                 36
Clothing Store                      34
Sushi Restaurant                    30
Grocery Store                       27
Pub                                 27
American Restaurant                 26
Fast Food Restaurant                25
Bank                                24
Gastropub                           22
Breakfast Spot                      22
Pharmacy                            22
Seafood Restaurant                  22
Thai Restaurant                     20
Beer Bar                            19
Ice Cream Shop                      18
Diner                               17
Vegetarian / Vegan Restaurant       17
Chinese Restaurant                  17
Bookstore                           17
Dessert Shop                        15
Burger Joint                        15
Department Store                    15
Furniture / Home Store              15
Mexican Restaurant                  15
Liquor Store                        14
Steakhouse                          14
Theater                             14
Yoga Studio                         14
Cosmetics Shop                      14
Brewery                             14
Gym / Fitness Center                14
Asian Restaurant                    14
Indian Restaurant                   13
Greek Restaurant                    13
Deli / Bodega                       13
Art Gallery                         13
Lounge                              12
Middle Eastern Restaurant           12
Cocktail Bar                        12
Salad Place                         12
Fried Chicken Joint                 12
Vietnamese Restaurant               11
Farmers Market                      11
Shopping Mall                       11
Discount Store                      11
Juice Bar                           11
Convenience Store                   11
Sporting Goods Shop                 11
Beer Store                          10
Pet Store                           10
Wine Bar                            10
Burrito Place                       10
Intersection                        10
Bubble Tea Shop                     10
French Restaurant                   10
Concert Hall                         9
Electronics Store                    9
New American Restaurant              9
Salon / Barbershop                   8
Supermarket                          8
Plaza                                8
Creperie                             8
Office                               8
Ramen Restaurant                     8
Movie Theater                        7
Tea Room                             7
Cheese Shop                          7
Trail                                7
Latin American Restaurant            7
Spa                                  7
Skating Rink                         7
Comfort Food Restaurant              7
Caribbean Restaurant                 7
Gourmet Shop                         6
Noodle House                         6
Mediterranean Restaurant             6
Gas Station                          6
Food Court                           6
Playground                           6
Women's Store                        6
Museum                               5
Music Venue                          5
Aquarium                             5
Miscellaneous Shop                   5
Gay Bar                              5
Gift Shop                            5
Arts & Crafts Store                  5
Jazz Club                            5
Athletics & Sports                   5
Jewelry Store                        5
Distribution Center                  5
Smoke Shop                           5
Tailor Shop                          5
Korean Restaurant                    4
Food & Drink Shop                    4
Basketball Stadium                   4
Men's Store                          4
Moroccan Restaurant                  4
Bus Line                             4
Pool                                 4
Baseball Field                       4
Speakeasy                            4
Fish Market                          4
Monument / Landmark                  4
BBQ Joint                            4
Gluten-free Restaurant               4
Fountain                             4
Nightclub                            4
Shoe Store                           4
Dog Run                              4
Food Truck                           4
Neighborhood                         4
Bistro                               4
Poke Place                           4
Metro Station                        4
Train Station                        4
Lingerie Store                       4
General Travel                       4
Smoothie Shop                        4
Butcher                              3
Antique Shop                         3
Bus Station                          3
Dim Sum Restaurant                   3
Portuguese Restaurant                3
General Entertainment                3
History Museum                       3
Sports Bar                           3
Video Game Store                     3
Mobile Phone Shop                    3
Rental Car Location                  3
Building                             3
Performing Arts Venue                3
Boutique                             3
Dance Studio                         3
Health Food Store                    3
Comic Shop                           3
Flower Shop                          3
Bagel Shop                           3
Toy / Game Store                     3
Airport Service                      3
Scenic Lookout                       3
Donut Shop                           3
Lake                                 3
Modern European Restaurant           3
Event Space                          3
Fish & Chips Shop                    3
Roof Deck                            2
Hotel Bar                            2
Cupcake Shop                         2
Hobby Shop                           2
Hockey Arena                         2
Bike Shop                            2
Chocolate Shop                       2
Sculpture Garden                     2
Poutine Place                        2
Airport Lounge                       2
Persian Restaurant                   2
Art Museum                           2
Belgian Restaurant                   2
Airport                              2
Indie Movie Theater                  2
Gaming Cafe                          2
Ethiopian Restaurant                 2
Cuban Restaurant                     2
Falafel Restaurant                   2
Tanning Salon                        2
Brazilian Restaurant                 2
Dumpling Restaurant                  2
Colombian Restaurant                 2
IT Services                          2
Record Shop                          2
Light Rail Station                   2
Baseball Stadium                     2
Garden Center                        2
Garden                               2
Massage Studio                       2
Construction & Landscaping           2
Cajun / Creole Restaurant            1
College Gym                          1
Filipino Restaurant                  1
Afghan Restaurant                    1
Frozen Yogurt Shop                   1
Accessories Store                    1
Beach                                1
Malay Restaurant                     1
Doner Restaurant                     1
Candy Store                          1
River                                1
Home Service                         1
Airport Terminal                     1
Molecular Gastronomy Restaurant      1
Indoor Play Area                     1
Drugstore                            1
Other Repair Shop                    1
Historic Site                        1
College Auditorium                   1
Irish Pub                            1
Health & Beauty Service              1
Shopping Plaza                       1
Snack Place                          1
Auto Garage                          1
Thrift / Vintage Store               1
Theme Restaurant                     1
Coworking Space                      1
Camera Store                         1
Sake Bar                             1
Swim School                          1
Boat or Ferry                        1
Tennis Court                         1
College Stadium                      1
Print Shop                           1
Golf Course                          1
Skate Park                           1
Soup Place                           1
Hardware Store                       1
Optical Shop                         1
Eastern European Restaurant          1
Airport Food Court                   1
Other Great Outdoors                 1
Luggage Store                        1
Organic Grocery                      1
Basketball Court                     1
Church                               1
Hospital                             1
Climbing Gym                         1
German Restaurant                    1
Opera House                          1
Escape Room                          1
Stadium                              1
Harbor / Marina                      1
College Rec Center                   1
College Arts Building                1
Flea Market                          1
Taiwanese Restaurant                 1
Medical Center                       1
Warehouse Store                      1
Airport Gate                         1
Market                               1
Bridal Shop                          1
Auto Workshop                        1
Wings Joint                          1
Motel                                1
Fruit & Vegetable Store              1
Bed & Breakfast                      1
Field                                1
Baby Store                           1
Hakka Restaurant                     1
Wine Shop                            1
Soccer Field                         1
Stationery Store                     1
Bus Stop                             1
Supplement Shop                      1
Curling Ice                          1
Strip Club                           1
Martial Arts School                  1
Kids Store                           1
Name: Venue Category, dtype: int64

In [59]:
#Find the total number of UNIQUE venue types in each neighborhood, to see how much variety there is
UniqueDF = venuesDF.groupby('Neighborhood')['Venue Category'].nunique().to_frame()

In [60]:
UniqueDF.head(50)

                                                    Venue Category
Neighborhood
Agincourt                                                        4
Alderwood, Long Branch                                           6
Bathurst Manor, Wilson Heights, Downsview North                 19
Bayview Village                                                  4
Bedford Park, Lawrence Manor East                               18
Berczy Park                                                     45
Birch Cliff, Cliffside West                                      4
Brockton, Parkdale Village, Exhibition Place                    18
Business reply mail Processing Centre, South Ce...              16
CN Tower, King and Spadina, Railway Lands, Harb...              13
Caledonia-Fairbanks                                              3
Canada Post Gateway Processing Centre                           11
Cedarbrae                                                        8
Central Bay Street                                              44
Christie                                                        11
Church and Wellesley                                            54
Clarks Corners, Tam O'Shanter, Sullivan                         11
Cliffside, Cliffcrest, Scarborough Village West                  3
Commerce Court, Victoria Hotel                                  52
Davisville                                                      24
Davisville North                                                 9
Del Ray, Mount Dennis, Keelsdale and Silverthorn                 4
Don Mills                                                       18
Dorset Park, Wexford Heights, Scarborough Town ...               4
Downsview                                                       12
Dufferin, Dovercourt Village                                    12
East Toronto, Broadview North (Old East York)                    5
Eringate, Bloordale Gardens, Old Burnhamthorpe,...               9
Fairview, Henry Farm, Oriole                                    44
First Canadian Place, Underground city                          53
Forest Hill North & West, Forest Hill Road Park                  4
Garden District, Ryerson                                        65
Glencairn                                                        5
Golden Mile, Clairlea, Oakridge                                  8
Guildwood, Morningside, West Hill                                8
Harbourfront East, Union Station, Toronto Islands               59
High Park, The Junction South                                   21
Hillcrest Village                                                4
Humber Summit                                                    2
Humberlea, Emery                                                 1
Humewood-Cedarvale                                               5
India Bazaar, The Beaches West                                  19
Kennedy Park, Ionview, East Birchmount Park                      6
Kensington Market, Chinatown, Grange Park                       49
Kingsview Village, St. Phillips, Martin Grove G...               3
Lawrence Manor, Lawrence Heights                                 9
Lawrence Park                                                    4
Leaside                                                         25
Little Portugal, Trinity                                        34
Malvern, Rouge                                                   1

In [63]:
# merge two table on the column "PostalCode"
Total = Total.merge(UniqueDF, on="Neighborhood", how="left")
Total.head(50)

,Neighborhood,Total,Unique,Venue Category_x,Venue Category_y
0,"First Canadian Place, Underground city",100,NaN,53,53
1,"Commerce Court, Victoria Hotel",100,NaN,52,52
2,"Richmond, Adelaide, King",100,NaN,62,62
3,"Garden District, Ryerson",100,NaN,65,65
4,"Harbourfront East, Union Station, Toronto Islands",100,NaN,59,59
5,"Toronto Dominion Centre, Design Exchange",100,NaN,54,54
6,Stn A PO Boxes,96,NaN,59,59
7,St. James Town,86,NaN,53,53
8,Church and Wellesley,78,NaN,54,54
9,"Kensington Market, Chinatown, Grange Park",74,NaN,49,49
10,Central Bay Street,70,NaN,44,44
11,"Fairview, Henry Farm, Oriole",67,NaN,44,44
12,Berczy Park,57,NaN,45,45
13,"Regent Park, Harbourfront",46,NaN,30,30
14,"Little Portugal, Trinity",43,NaN,34,34
15,"St. James Town, Cabbagetown",42,NaN,34,34
16,"The Danforth West, Riverdale",42,NaN,28,28
17,Studio District,40,NaN,31,31
18,"University of Toronto, Harbord",35,NaN,26,26
19,Davisville,34,NaN,24,24
20,Leaside,33,NaN,25,25
21,"Willowdale, Willowdale East",33,NaN,25,25
22,"Runnymede, Swansea",32,NaN,25,25
23,"Queen's Park, Ontario Provincial Government",31,NaN,24,24
24,Don Mills,25,NaN,18,18
25,"High Park, The Junction South",25,NaN,21,21
26,"Brockton, Parkdale Village, Exhibition Place",22,NaN,18,18
27,Thorncliffe Park,22,NaN,20,20
28,"The Annex, North Midtown, Yorkville",22,NaN,17,17
29,"Bedford Park, Lawrence Manor East",21,NaN,18,18
30,"Bathurst Manor, Wilson Heights, Downsview North",21,NaN,19,19
31,"India Bazaar, The Beaches West",21,NaN,19,19
32,"North Toronto West, Lawrence Park",18,NaN,16,16
33,Christie,17,NaN,11,11
34,"Business reply mail Processing Centre, South C...",16,NaN,16,16
35,"CN Tower, King and Spadina, Railway Lands, Har...",16,NaN,13,13
36,"Mimico NW, The Queensway West, South of Bloor,...",15,NaN,15,15
37,"Steeles West, L'Amoreaux West",15,NaN,13,13
38,"Summerhill West, Rathnelly, South Hill, Forest...",15,NaN,13,13
39,Downsview,15,NaN,12,12
40,"Parkdale, Roncesvalles",14,NaN,12,12
41,"Clarks Corners, Tam O'Shanter, Sullivan",14,NaN,11,11
42,"Dufferin, Dovercourt Village",14,NaN,12,12
43,"Lawrence Manor, Lawrence Heights",14,NaN,9,9
44,Canada Post Gateway Processing Centre,13,NaN,11,11
45,"New Toronto, Mimico South, Humber Bay Shores",12,NaN,12,12
46,Davisville North,10,NaN,9,9
47,"Eringate, Bloordale Gardens, Old Burnhamthorpe...",9,NaN,9,9
48,"Golden Mile, Clairlea, Oakridge",9,NaN,8,8
49,Westmount,8,NaN,7,7

In [64]:
#Oops, ran it twice, need to clean it up a bit...
Total = Total.drop(['Unique', 'Venue Category_y'], axis=1)

In [65]:
Total.head()

                                        Neighborhood  Total  Venue Category_x
0             First Canadian Place, Underground city    100                53
1                     Commerce Court, Victoria Hotel    100                52
2                           Richmond, Adelaide, King    100                62
3                           Garden District, Ryerson    100                65
4  Harbourfront East, Union Station, Toronto Islands    100                59

In [69]:
#Clean up that messy column title!
Total.rename(columns={"Venue Category_x":"Unique"}, inplace=True)

In [72]:
Total.head()

                                        Neighborhood  Total  Unique
0             First Canadian Place, Underground city    100      53
1                     Commerce Court, Victoria Hotel    100      52
2                           Richmond, Adelaide, King    100      62
3                           Garden District, Ryerson    100      65
4  Harbourfront East, Union Station, Toronto Islands    100      59

In [73]:
#Create a function to find specific types of venues in specific neighborhoods

def VenueNo(df, neigh, categ):
    return df.query('Neighborhood == @neigh and `Venue Category` == @categ').index.size

In [76]:
VenueNo(venuesDF, 'Garden District, Ryerson', 'Coffee Shop')

8

In [79]:
Neighborhoods = Total["Neighborhood"].to_list()

In [94]:
#Use 'VenueNo' function to create list of total coffee shops in each neighborhood

CoffeeShops = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Coffee Shop')
    CoffeeShops.append(y)

In [95]:
#Use 'VenueNo' function to create list of total grocery stores in each neighborhood
GroceryStores = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Grocery Store')
    GroceryStores.append(y)

In [97]:
#Use 'VenueNo' function to create list of total pharmacies in each neighborhood

Pharmacies = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Pharmacy')
    Pharmacies.append(y)

In [99]:
#Use 'VenueNo' function to create list of total gyms in each neighborhood

Gyms = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Gym')
    Gyms.append(y)

In [100]:
#Use 'VenueNo' function to create list of total banks in each neighborhood

Banks = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Bank')
    Banks.append(y)

In [101]:
#Use 'VenueNo' function to create list of total parks in each neighborhood

Parks = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Park')
    Parks.append(y)

In [102]:
Total["Coffee Shops"] = CoffeeShops

In [103]:
Total.head()

,Neighborhood,Total,Unique,Coffee Shops
0,"First Canadian Place, Underground city",100,53,11
1,"Commerce Court, Victoria Hotel",100,52,13
2,"Richmond, Adelaide, King",100,62,8
3,"Garden District, Ryerson",100,65,8
4,"Harbourfront East, Union Station, Toronto Islands",100,59,13

In [106]:
Total["Grocery Stores"] = GroceryStores
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores
0,"First Canadian Place, Underground city",100,53,11,0
1,"Commerce Court, Victoria Hotel",100,52,13,0
2,"Richmond, Adelaide, King",100,62,8,0
3,"Garden District, Ryerson",100,65,8,0
4,"Harbourfront East, Union Station, Toronto Islands",100,59,13,0

In [109]:
Total["Pharmacies"] = Pharmacies
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies
0,"First Canadian Place, Underground city",100,53,11,0,0
1,"Commerce Court, Victoria Hotel",100,52,13,0,0
2,"Richmond, Adelaide, King",100,62,8,0,0
3,"Garden District, Ryerson",100,65,8,0,0
4,"Harbourfront East, Union Station, Toronto Islands",100,59,13,0,0

In [110]:
Restaurants = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Restaurant')
    Restaurants.append(y)

In [111]:
Total["Banks"] = Banks

In [112]:
Total["Parks"] = Parks
Total["Restaurants"] = Restaurants
Total["Gyms"] = Gyms
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms
0,"First Canadian Place, Underground city",100,53,11,0,0,0,0,4,4
1,"Commerce Court, Victoria Hotel",100,52,13,0,0,0,1,7,4
2,"Richmond, Adelaide, King",100,62,8,0,0,0,0,4,4
3,"Garden District, Ryerson",100,65,8,0,0,1,1,1,1
4,"Harbourfront East, Union Station, Toronto Islands",100,59,13,0,0,0,2,3,1

In [113]:
ChineseRestaurants = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Chinese Restaurant')
    ChineseRestaurants.append(y)

In [115]:
PizzaPlaces = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Pizza Place')
    PizzaPlaces.append(y)

In [129]:
Restaurants = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Restaurant')
    Restaurants.append(y)

In [128]:
Fitness = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Gym / Fitness Center')
    Fitness.append(y)

In [131]:
Gyms = [x + y for x, y in zip(Gyms, Fitness)]

In [133]:
Yoga = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Yoga Studio')
    Yoga.append(y)

In [134]:
Gyms = [x + y for x, y in zip(Gyms, Yoga)]

In [136]:
Total["Gyms"] = Gyms

In [137]:
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms
0,"First Canadian Place, Underground city",100,53,11,0,0,0,0,4,5
1,"Commerce Court, Victoria Hotel",100,52,13,0,0,0,1,7,5
2,"Richmond, Adelaide, King",100,62,8,0,0,0,0,4,5
3,"Garden District, Ryerson",100,65,8,0,0,1,1,1,2
4,"Harbourfront East, Union Station, Toronto Islands",100,59,13,0,0,0,2,3,1

In [144]:
Cafes = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Caf√©')
    Cafes.append(y)

In [145]:
Coffee = [x + y for x, y in zip(CoffeeShops, Cafes)]

In [146]:
Total["CoffeeShops"] = Coffee

In [148]:
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms,CoffeeShops
0,"First Canadian Place, Underground city",100,53,11,0,0,0,0,4,5,18
1,"Commerce Court, Victoria Hotel",100,52,13,0,0,0,1,7,5,20
2,"Richmond, Adelaide, King",100,62,8,0,0,0,0,4,5,13
3,"Garden District, Ryerson",100,65,8,0,0,1,1,1,2,12
4,"Harbourfront East, Union Station, Toronto Islands",100,59,13,0,0,0,2,3,1,17

In [150]:
Total=Total.drop(columns=["CoffeeShops"])

In [151]:
Total["Coffee Shops"] = Coffee

In [152]:
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms
0,"First Canadian Place, Underground city",100,53,18,0,0,0,0,4,5
1,"Commerce Court, Victoria Hotel",100,52,20,0,0,0,1,7,5
2,"Richmond, Adelaide, King",100,62,13,0,0,0,0,4,5
3,"Garden District, Ryerson",100,65,12,0,0,1,1,1,2
4,"Harbourfront East, Union Station, Toronto Islands",100,59,17,0,0,0,2,3,1

In [153]:
Super = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Supermarket')
    Super.append(y)

In [154]:
GroceryStores = [x + y for x, y in zip(GroceryStores, Super)]

In [155]:
Total["Grocery Stores"]=GroceryStores

In [159]:
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms
0,"First Canadian Place, Underground city",100,53,18,0,0,0,0,4,5
1,"Commerce Court, Victoria Hotel",100,52,20,0,0,0,1,7,5
2,"Richmond, Adelaide, King",100,62,13,0,0,0,0,4,5
3,"Garden District, Ryerson",100,65,12,0,0,1,1,1,2
4,"Harbourfront East, Union Station, Toronto Islands",100,59,17,1,0,0,2,3,1

In [160]:
American = []
Sushi = []
Japanese = []
Pizza = []
Sandwich = []
Thai = []
Vietnamese = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'American Restaurant')
    American.append(y)
    s = VenueNo(venuesDF, x, 'Sushi Restaurant')
    Sushi.append(s)
    j = VenueNo(venuesDF, x, 'Japanese Restaurant')
    Japanese.append(j)
    t = VenueNo(venuesDF, x, 'Thai Place')
    Thai.append(t)
    p = VenueNo(venuesDF, x, 'Pizza Place')
    Pizza.append(p)
    w = VenueNo(venuesDF, x, 'Sandwich Place')
    Sandwich.append(w)
    v = VenueNo(venuesDF, x, 'Vietnamese Restaurant')
    Vietnamese.append(v)

In [161]:
Italian = []

for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Italian Restaurant')
    Italian.append(y)

In [162]:
Restaurants = [x + y for x, y in zip(Restaurants, Italian)]

In [163]:
Restaurants = [x + y for x, y in zip(Restaurants, American)]

In [164]:
Total["Restaurants"] = Restaurants

In [165]:
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms
0,"First Canadian Place, Underground city",100,53,18,0,0,0,0,8,5
1,"Commerce Court, Victoria Hotel",100,52,20,0,0,0,1,13,5
2,"Richmond, Adelaide, King",100,62,13,0,0,0,0,6,5
3,"Garden District, Ryerson",100,65,12,0,0,1,1,2,2
4,"Harbourfront East, Union Station, Toronto Islands",100,59,17,1,0,0,2,5,1

In [166]:
Lunch = [x + y for x, y in zip(Pizza, Sandwich)]

In [167]:
Total["Lunch Spots"] = Lunch

In [177]:
Total.head(20)

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms,Lunch Spots,Asian Restaurants
0,"First Canadian Place, Underground city",100,53,18,0,0,0,0,8,5,3,6
1,"Commerce Court, Victoria Hotel",100,52,20,0,0,0,1,13,5,2,3
2,"Richmond, Adelaide, King",100,62,13,0,0,0,0,6,5,2,3
3,"Garden District, Ryerson",100,65,12,0,0,1,1,2,2,3,6
4,"Harbourfront East, Union Station, Toronto Islands",100,59,17,1,0,0,2,5,1,4,3
5,"Toronto Dominion Centre, Design Exchange",100,54,20,0,0,0,0,10,2,2,5
6,Stn A PO Boxes,96,59,14,1,1,0,2,7,3,3,4
7,St. James Town,86,53,12,1,1,0,1,8,2,0,2
8,Church and Wellesley,78,54,9,0,0,0,1,4,3,1,10
9,"Kensington Market, Chinatown, Grange Park",74,49,8,3,1,0,2,0,0,2,4
10,Central Bay Street,70,44,16,0,0,0,1,4,2,3,3
11,"Fairview, Henry Farm, Oriole",67,44,5,0,1,2,0,3,0,1,4
12,Berczy Park,57,45,7,1,1,0,1,3,0,1,2
13,"Regent Park, Harbourfront",46,30,10,0,0,1,3,1,2,0,0
14,"Little Portugal, Trinity",43,34,4,0,0,0,1,3,1,1,3
15,"St. James Town, Cabbagetown",42,34,5,1,1,1,1,4,0,3,2
16,"The Danforth West, Riverdale",42,28,5,1,0,0,0,6,1,1,1
17,Studio District,40,31,7,0,0,1,1,3,2,1,0
18,"University of Toronto, Harbord",35,26,6,0,0,1,0,2,1,2,4
19,Davisville,34,24,4,0,1,0,1,3,2,5,2

In [169]:
Japanese = [x + y for x, y in zip(Japanese, Sushi)]

In [170]:
Asian = [x + y for x, y in zip(Japanese, ChineseRestaurants)]

In [172]:
Asian = [x + y for x, y in zip(Asian, Thai)]

In [174]:
Asian = [x + y for x, y in zip(Asian, Vietnamese)]

In [175]:
Total["Asian Restaurants"] = Asian

In [178]:
Bar = []
Beer = []
Pub = []
Gpub = []


for x in Neighborhoods:
    y = VenueNo(venuesDF, x, 'Bar')
    Bar.append(y)
    b = VenueNo(venuesDF, x, 'Beer Bar')
    Beer.append(b)
    p = VenueNo(venuesDF, x, 'Pub')
    Pub.append(p)
    g = VenueNo(venuesDF, x, 'Gastropub')
    Gpub.append(y)

In [179]:
Bar = [x + y for x, y in zip(Bar, Beer)]

In [180]:
Bar = [x + y for x, y in zip(Bar, Pub)]

In [181]:
Restaurants = [x + y for x, y in zip(Restaurants, Gpub)]

In [182]:
Total["Bar"] = Bar
Total["Restaurants"] = Restaurants

In [183]:
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms,Lunch Spots,Asian Restaurants,Bar
0,"First Canadian Place, Underground city",100,53,18,0,0,0,0,10,5,3,6,5
1,"Commerce Court, Victoria Hotel",100,52,20,0,0,0,1,15,5,2,3,5
2,"Richmond, Adelaide, King",100,62,13,0,0,0,0,9,5,2,3,3
3,"Garden District, Ryerson",100,65,12,0,0,1,1,3,2,3,6,2
4,"Harbourfront East, Union Station, Toronto Islands",100,59,17,1,0,0,2,7,1,4,3,3

In [243]:
Total = Total.rename(columns={"Bar":"Bars"})

In [197]:
from sklearn import preprocessing

In [199]:
a = Restaurants
amin, amax = min(a), max(a)
for i, val in enumerate(a):
    a[i] = (val-amin) / (amax-amin)

In [201]:
Total["Restaurants"] = a

In [211]:
b = TotalL
amin, amax = min(b), max(b)
for i, val in enumerate(b):
    b[i] = (val-amin) / (amax-amin)

In [207]:
TotalL = Total["Total"].to_numpy()

In [209]:
TotalL = TotalL.tolist()

In [213]:
Total["Total"] = TotalL

In [219]:
Unique = Total["Unique"].to_numpy()

In [220]:
Unique = Unique.tolist()

In [221]:
c = Unique
amin, amax = min(c), max(c)
for i, val in enumerate(c):
    c[i] = (val-amin) / (amax-amin)

In [222]:
Total["Unique"] = Unique

In [224]:
d = CoffeeShops
amin, amax = min(d), max(d)
for i, val in enumerate(d):
    d[i] = (val-amin) / (amax-amin)

In [225]:
Total["Coffee Shops"] = d

In [227]:
e = GroceryStores
amin, amax = min(e), max(e)
for i, val in enumerate(e):
    e[i] = (val-amin) / (amax-amin)

In [228]:
Total["Grocery Stores"] = e

In [230]:
f = Pharmacies
amin, amax = min(f), max(f)
for i, val in enumerate(f):
    f[i] = (val-amin) / (amax-amin)

In [231]:
Total["Pharmacies"] = f

In [233]:
g = Banks
amin, amax = min(g), max(g)
for i, val in enumerate(g):
    g[i] = (val-amin) / (amax-amin)

In [234]:
Total["Banks"] = g

In [236]:
h = Parks
amin, amax = min(h), max(h)
for i, val in enumerate(h):
    h[i] = (val-amin) / (amax-amin)
    
Total["Parks"] = h

In [238]:
j = Gyms
amin, amax = min(j), max(j)
for i, val in enumerate(j):
    j[i] = (val-amin) / (amax-amin)
    
Total["Gyms"] = j

In [240]:
k = Lunch
amin, amax = min(k), max(k)
for i, val in enumerate(k):
    k[i] = (val-amin) / (amax-amin)
    
Total["Lunch Spots"] = k

In [241]:
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms,Lunch Spots,Asian Restaurants,Bar
0,"First Canadian Place, Underground city",1.0,0.812500,0.785714,0.00,0.0,0.0,0.000000,0.666667,1.0,0.6,6,5
1,"Commerce Court, Victoria Hotel",1.0,0.796875,0.928571,0.00,0.0,0.0,0.333333,1.000000,1.0,0.4,3,5
2,"Richmond, Adelaide, King",1.0,0.953125,0.571429,0.00,0.0,0.0,0.000000,0.600000,1.0,0.4,3,3
3,"Garden District, Ryerson",1.0,1.000000,0.571429,0.00,0.0,0.5,0.333333,0.200000,0.4,0.6,6,2
4,"Harbourfront East, Union Station, Toronto Islands",1.0,0.906250,0.928571,0.25,0.0,0.0,0.666667,0.466667,0.2,0.8,3,3

In [242]:
l = Asian
amin, amax = min(l), max(l)
for i, val in enumerate(l):
    l[i] = (val-amin) / (amax-amin)
    
Total["Asian Restaurants"] = l
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms,Lunch Spots,Asian Restaurants,Bar
0,"First Canadian Place, Underground city",1.0,0.812500,0.785714,0.00,0.0,0.0,0.000000,0.666667,1.0,0.6,0.6,5
1,"Commerce Court, Victoria Hotel",1.0,0.796875,0.928571,0.00,0.0,0.0,0.333333,1.000000,1.0,0.4,0.3,5
2,"Richmond, Adelaide, King",1.0,0.953125,0.571429,0.00,0.0,0.0,0.000000,0.600000,1.0,0.4,0.3,3
3,"Garden District, Ryerson",1.0,1.000000,0.571429,0.00,0.0,0.5,0.333333,0.200000,0.4,0.6,0.6,2
4,"Harbourfront East, Union Station, Toronto Islands",1.0,0.906250,0.928571,0.25,0.0,0.0,0.666667,0.466667,0.2,0.8,0.3,3

In [246]:
m = Bar
amin, amax = min(m), max(m)
for i, val in enumerate(l):
    m[i] = (val-amin) / (amax-amin)
    
Total["Bars"] = m
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms,Lunch Spots,Asian Restaurants,Bars
0,"First Canadian Place, Underground city",1.0,0.812500,0.785714,0.00,0.0,0.0,0.000000,0.666667,1.0,0.6,0.6,0.10
1,"Commerce Court, Victoria Hotel",1.0,0.796875,0.928571,0.00,0.0,0.0,0.333333,1.000000,1.0,0.4,0.3,0.05
2,"Richmond, Adelaide, King",1.0,0.953125,0.571429,0.00,0.0,0.0,0.000000,0.600000,1.0,0.4,0.3,0.05
3,"Garden District, Ryerson",1.0,1.000000,0.571429,0.00,0.0,0.5,0.333333,0.200000,0.4,0.6,0.6,0.10
4,"Harbourfront East, Union Station, Toronto Islands",1.0,0.906250,0.928571,0.25,0.0,0.0,0.666667,0.466667,0.2,0.8,0.3,0.05

In [253]:
#Grocery stores are one of the most important things you can have in your neighborhood for convenience, so we're going to give them added importance
Total["Grocery Stores"] = Total["Grocery Stores"]*5

In [255]:
#Banks and Pharmacies are also less common and more important than restaurants, so we're going to give them added value as well

Total["Banks"] = Total["Banks"]*2
Total["Pharmacies"] = Total["Pharmacies"]*2

In [257]:
#Because Parks are more of a luxury, and a few neighborhoods with parks are getting a big advantage, we're going to lessen the value of parks

Total["Parks"] = Total["Parks"]/2

In [263]:
#Sum all the values of each row to find the total Neighborhood Convenience Score, or NCS
Total["NCS"] = Total.sum(axis=1)
Total.head()

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms,Lunch Spots,Asian Restaurants,Bars,NCS
0,"First Canadian Place, Underground city",1.0,0.812500,0.785714,0.00,0.0,0.0,0.000000,0.666667,1.0,0.6,0.6,0.10,11.129762
1,"Commerce Court, Victoria Hotel",1.0,0.796875,0.928571,0.00,0.0,0.0,0.166667,1.000000,1.0,0.4,0.3,0.05,11.284226
2,"Richmond, Adelaide, King",1.0,0.953125,0.571429,0.00,0.0,0.0,0.000000,0.600000,1.0,0.4,0.3,0.05,9.749107
3,"Garden District, Ryerson",1.0,1.000000,0.571429,0.00,0.0,1.0,0.166667,0.200000,0.4,0.6,0.6,0.10,11.276190
4,"Harbourfront East, Union Station, Toronto Islands",1.0,0.906250,0.928571,1.25,0.0,0.0,0.333333,0.466667,0.2,0.8,0.3,0.05,12.469643

In [262]:
#Find the most convenient neighborhoods in the Toronto area!

Total.sort_values(by=['NCS'], ascending=False)

,Neighborhood,Total,Unique,Coffee Shops,Grocery Stores,Pharmacies,Banks,Parks,Restaurants,Gyms,Lunch Spots,Asian Restaurants,Bars,NCS
9,"Kensington Market, Chinatown, Grange Park",0.737374,0.750000,0.285714,3.75,1.0,0.0,0.333333,0.266667,0.0,0.4,0.4,0.066667,7.989755
6,Stn A PO Boxes,0.959596,0.906250,0.714286,1.25,1.0,0.0,0.333333,0.466667,0.6,0.6,0.4,0.066667,7.296798
27,Thorncliffe Park,0.212121,0.296875,0.071429,2.50,1.0,1.0,0.166667,0.066667,0.4,0.6,0.0,0.000000,6.313758
42,"Dufferin, Dovercourt Village",0.131313,0.171875,0.000000,2.50,2.0,1.0,0.166667,0.066667,0.2,0.0,0.0,0.000000,6.236521
4,"Harbourfront East, Union Station, Toronto Islands",1.000000,0.906250,0.928571,1.25,0.0,0.0,0.333333,0.466667,0.2,0.8,0.3,0.050000,6.234821
20,Leaside,0.323232,0.375000,0.285714,2.50,0.0,2.0,0.000000,0.066667,0.0,0.2,0.1,0.016667,5.867280
33,Christie,0.161616,0.156250,0.071429,5.00,0.0,0.0,0.333333,0.133333,0.0,0.0,0.0,0.000000,5.855961
7,St. James Town,0.858586,0.812500,0.428571,1.25,1.0,0.0,0.166667,0.533333,0.4,0.0,0.2,0.033333,5.682991
39,Downsview,0.141414,0.171875,0.071429,3.75,0.0,1.0,0.333333,0.000000,0.2,0.0,0.0,0.000000,5.668051
15,"St. James Town, Cabbagetown",0.414141,0.515625,0.214286,1.25,1.0,1.0,0.166667,0.266667,0.0,0.6,0.2,0.033333,5.660719
1,"Commerce Court, Victoria Hotel",1.000000,0.796875,0.928571,0.00,0.0,0.0,0.166667,1.000000,1.0,0.4,0.3,0.050000,5.642113
3,"Garden District, Ryerson",1.000000,1.000000,0.571429,0.00,0.0,1.0,0.166667,0.200000,0.4,0.6,0.6,0.100000,5.638095
11,"Fairview, Henry Farm, Oriole",0.666667,0.671875,0.357143,0.00,1.0,2.0,0.000000,0.266667,0.0,0.2,0.4,0.066667,5.629018
0,"First Canadian Place, Underground city",1.000000,0.812500,0.785714,0.00,0.0,0.0,0.000000,0.666667,1.0,0.6,0.6,0.100000,5.564881
30,"Bathurst Manor, Wilson Heights, Downsview North",0.202020,0.281250,0.142857,1.25,1.0,2.0,0.000000,0.066667,0.0,0.4,0.1,0.016667,5.459461
5,"Toronto Dominion Centre, Design Exchange",1.000000,0.828125,1.000000,0.00,0.0,0.0,0.000000,0.733333,0.4,0.4,0.5,0.083333,4.944792
2,"Richmond, Adelaide, King",1.000000,0.953125,0.571429,0.00,0.0,0.0,0.000000,0.600000,1.0,0.4,0.3,0.050000,4.874554
12,Berczy Park,0.565657,0.687500,0.357143,1.25,1.0,0.0,0.166667,0.200000,0.0,0.2,0.2,0.033333,4.660299
8,Church and Wellesley,0.777778,0.828125,0.500000,0.00,0.0,0.0,0.166667,0.266667,0.6,0.2,1.0,0.166667,4.505903
37,"Steeles West, L'Amoreaux West",0.141414,0.187500,0.142857,1.25,1.0,1.0,0.000000,0.000000,0.0,0.4,0.1,0.016667,4.238438
10,Central Bay Street,0.696970,0.671875,0.857143,0.00,0.0,0.0,0.166667,0.333333,0.4,0.6,0.3,0.050000,4.075988
50,"South Steeles, Silverstone, Humbergate, Jamest...",0.070707,0.093750,0.000000,2.50,1.0,0.0,0.000000,0.000000,0.0,0.4,0.0,0.000000,4.064457
41,"Clarks Corners, Tam O'Shanter, Sullivan",0.131313,0.156250,0.000000,0.00,2.0,1.0,0.000000,0.066667,0.0,0.4,0.1,0.016667,3.870896
29,"Bedford Park, Lawrence Manor East",0.202020,0.265625,0.142857,1.25,1.0,0.0,0.000000,0.266667,0.0,0.6,0.1,0.016667,3.843836
19,Davisville,0.333333,0.359375,0.142857,0.00,1.0,0.0,0.166667,0.200000,0.4,1.0,0.2,0.033333,3.835565
61,"Willowdale, Willowdale West",0.040404,0.062500,0.071429,1.25,1.0,1.0,0.000000,0.000000,0.0,0.2,0.0,0.000000,3.624333
21,"Willowdale, Willowdale East",0.323232,0.375000,0.142857,1.25,0.0,0.0,0.000000,0.066667,0.0,0.8,0.5,0.083333,3.541089
13,"Regent Park, Harbourfront",0.454545,0.453125,0.500000,0.00,0.0,1.0,0.500000,0.066667,0.4,0.0,0.0,0.000000,3.374337
23,"Queen's Park, Ontario Provincial Government",0.303030,0.359375,0.571429,0.00,0.0,1.0,0.166667,0.133333,0.4,0.2,0.2,0.033333,3.367167
38,"Summerhill West, Rathnelly, South Hill, Forest...",0.141414,0.187500,0.142857,1.25,0.0,1.0,0.000000,0.133333,0.0,0.2,0.2,0.033333,3.288438
16,"The Danforth West, Riverdale",0.414141,0.421875,0.285714,1.25,0.0,0.0,0.000000,0.400000,0.2,0.2,0.1,0.016667,3.288397
24,Don Mills,0.242424,0.265625,0.142857,1.25,0.0,0.0,0.000000,0.200000,0.6,0.2,0.3,0.050000,3.250906
22,"Runnymede, Swansea",0.313131,0.375000,0.142857,0.00,0.0,1.0,0.000000,0.200000,0.4,0.4,0.3,0.050000,3.180988
18,"University of Toronto, Harbord",0.343434,0.390625,0.071429,0.00,0.0,1.0,0.000000,0.266667,0.2,0.4,0.4,0.066667,3.138821
17,Studio District,0.393939,0.468750,0.214286,0.00,0.0,1.0,0.166667,0.266667,0.4,0.2,0.0,0.000000,3.110308
54,"Parkview Hill, Woodbine Gardens",0.070707,0.093750,0.000000,0.00,1.0,1.0,0.000000,0.000000,0.2,0.4,0.0,0.000000,2.764457
28,"The Annex, North Midtown, Yorkville",0.212121,0.250000,0.142857,0.00,1.0,0.0,0.166667,0.000000,0.0,0.8,0.0,0.000000,2.571645
14,"Little Portugal, Trinity",0.424242,0.515625,0.142857,0.00,0.0,0.0,0.166667,0.466667,0.2,0.2,0.3,0.050000,2.466058
26,"Brockton, Parkdale Village, Exhibition Place",0.212121,0.265625,0.142857,1.25,0.0,0.0,0.000000,0.200000,0.2,0.0,0.0,0.000000,2.270603
25,"High Park, The Junction South",0.242424,0.312500,0.000000,1.25,0.0,0.0,0.166667,0.200000,0.0,0.0,0.0,0.000000,2.171591
36,"Mimico NW, The Queensway West, South of Bloor,...",0.141414,0.218750,0.000000,1.25,0.0,0.0,0.000000,0.000000,0.2,0.2,0.0,0.000000,2.010164
56,"Alderwood, Long Branch",0.060606,0.078125,0.071429,0.00,1.0,0.0,0.000000,0.000000,0.2,0.6,0.0,0.000000,2.010160
31,"India Bazaar, The Beaches West",0.202020,0.281250,0.071429,0.00,0.0,0.0,0.333333,0.133333,0.2,0.6,0.1,0.016667,1.938032
45,"New Toronto, Mimico South, Humber Bay Shores",0.111111,0.171875,0.071429,0.00,1.0,0.0,0.000000,0.133333,0.2,0.2,0.0,0.000000,1.887748
47,"Eringate, Bloordale Gardens, Old Burnhamthorpe...",0.080808,0.125000,0.071429,0.00,1.0,0.0,0.000000,0.000000,0.0,0.2,0.0,0.000000,1.477237
74,Bayview Village,0.030303,0.046875,0.000000,0.00,0.0,1.0,0.000000,0.000000,0.0,0.0,0.2,0.033333,1.310511
80,"Runnymede, The Junction North",0.020202,0.031250,0.000000,1.25,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,1.301452
32,"North Toronto West, Lawrence Park",0.171717,0.234375,0.142857,0.00,0.0,0.0,0.166667,0.066667,0.4,0.0,0.1,0.016667,1.298949
52,"Guildwood, Morningside, West Hill",0.070707,0.109375,0.000000,0.00,0.0,1.0,0.000000,0.066667,0.0,0.0,0.0,0.000000,1.246749
34,"Business reply mail Processing Centre, South C...",0.151515,0.234375,0.000000,0.00,0.0,0.0,0.166667,0.066667,0.4,0.2,0.0,0.000000,1.219223
46,Davisville North,0.090909,0.125000,0.000000,0.00,0.0,0.0,0.166667,0.000000,0.4,0.4,0.0,0.000000,1.182576
53,Cedarbrae,0.070707,0.109375,0.000000,0.00,0.0,1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,1.180082
49,Westmount,0.070707,0.093750,0.071429,0.00,0.0,0.0,0.000000,0.000000,0.0,0.6,0.1,0.016667,0.952552
44,Canada Post Gateway Processing Centre,0.121212,0.156250,0.142857,0.00,0.0,0.0,0.000000,0.066667,0.2,0.2,0.0,0.000000,0.886986
40,"Parkdale, Roncesvalles",0.131313,0.171875,0.071429,0.00,0.0,0.0,0.000000,0.200000,0.0,0.0,0.0,0.000000,0.574617
35,"CN Tower, King and Spadina, Railway Lands, Har...",0.151515,0.187500,0.071429,0.00,0.0,0.0,0.000000,0.066667,0.0,0.0,0.0,0.000000,0.477110
43,"Lawrence Manor, Lawrence Heights",0.131313,0.125000,0.071429,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.1,0.016667,0.444408
89,Humber Summit,0.010101,0.015625,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.2,0.2,0.0,0.000000,0.425726
78,"Kingsview Village, St. Phillips, Martin Grove ...",0.020202,0.031250,0.000000,0.00,0.0,0.0,0.166667,0.000000,0.0,0.2,0.0,0.000000,0.418119
75,Caledonia-Fairbanks,0.030303,0.031250,0.000000,0.00,0.0,0.0,0.333333,0.000000,0.0,0.0,0.0,0.000000,0.394886
71,Rosedale,0.030303,0.031250,0.000000,0.00,0.0,0.0,0.333333,0.000000,0.0,0.0,0.0,0.000000,0.394886
65,Victoria Village,0.040404,0.062500,0.071429,0.00,0.0,0.0,0.000000,0.000000,0.0,0.2,0.0,0.000000,0.374333
48,"Golden Mile, Clairlea, Oakridge",0.080808,0.109375,0.000000,0.00,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.000000,0.356850
57,"Wexford, Maryvale",0.060606,0.093750,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.2,0.0,0.000000,0.354356
66,"Del Ray, Mount Dennis, Keelsdale and Silverthorn",0.030303,0.046875,0.000000,0.00,0.0,0.0,0.000000,0.066667,0.0,0.2,0.0,0.000000,0.343845
63,"East Toronto, Broadview North (Old East York)",0.040404,0.062500,0.071429,0.00,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.000000,0.340999
51,Woodbine Heights,0.070707,0.093750,0.000000,0.00,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.000000,0.331124
62,"Dorset Park, Wexford Heights, Scarborough Town...",0.040404,0.046875,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.2,0.033333,0.320612
58,"Kennedy Park, Ionview, East Birchmount Park",0.050505,0.078125,0.071429,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.1,0.016667,0.316725
55,"Northwood Park, York University",0.060606,0.093750,0.071429,0.00,0.0,0.0,0.000000,0.066667,0.0,0.0,0.0,0.000000,0.292451
60,"North Park, Maple Leaf Park, Upwood Park",0.040404,0.062500,0.000000,0.00,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.000000,0.269571
67,Lawrence Park,0.030303,0.046875,0.000000,0.00,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.000000,0.243845
64,Glencairn,0.040404,0.062500,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.1,0.016667,0.219571
82,"The Kingsway, Montgomery Road, Old Mill North",0.020202,0.031250,0.000000,0.00,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.000000,0.218119
81,Weston,0.020202,0.031250,0.000000,0.00,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.000000,0.218119
79,Parkwoods,0.020202,0.031250,0.000000,0.00,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.000000,0.218119
69,"Forest Hill North & West, Forest Hill Road Park",0.030303,0.046875,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.1,0.016667,0.193845
88,York Mills West,0.010101,0.015625,0.000000,0.00,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.000000,0.192393
87,"Milliken, Agincourt North, Steeles East, L'Amo...",0.010101,0.015625,0.000000,0.00,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.000000,0.192393
77,Woburn,0.020202,0.015625,0.142857,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.178684
95,"Willowdale, Newtonbrook",0.000000,0.000000,0.000000,0.00,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.000000,0.166667
68,"Northwest, West Humber - Clairville",0.030303,0.046875,0.000000,0.00,0.0,0.0,0.000000,0.066667,0.0,0.0,0.0,0.000000,0.143845
83,"Cliffside, Cliffcrest, Scarborough Village West",0.020202,0.031250,0.000000,0.00,0.0,0.0,0.000000,0.066667,0.0,0.0,0.0,0.000000,0.118119
59,Humewood-Cedarvale,0.040404,0.062500,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.102904
90,"Moore Park, Summerhill East",0.010101,0.015625,0.000000,0.00,0.0,0.0,0.000000,0.066667,0.0,0.0,0.0,0.000000,0.092393
85,"Rouge Hill, Port Union, Highland Creek",0.010101,0.015625,0.000000,0.00,0.0,0.0,0.000000,0.066667,0.0,0.0,0.0,0.000000,0.092393
76,Hillcrest Village,0.030303,0.046875,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.077178
70,The Beaches,0.030303,0.046875,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.077178
72,Agincourt,0.030303,0.046875,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.077178
73,"Birch Cliff, Cliffside West",0.030303,0.046875,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.077178
84,"Old Mill South, King's Mill Park, Sunnylea, Hu...",0.010101,0.015625,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.025726
86,Scarborough Village,0.010101,0.015625,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.025726
91,"Humberlea, Emery",0.000000,0.000000,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000
92,"Malvern, Rouge",0.000000,0.000000,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000
93,"West Deane Park, Princess Gardens, Martin Grov...",0.000000,0.000000,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000
94,Roselawn,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000